.clear{
 clear: left;
}


.gameInfo{
    position: relative;
    font-family: "Roboto", sans-serif;
    padding: 5px;
    font-size: large;  
     max-width:40%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);   
    text-align: center;
        float: left;
    z-index: 1;
    background: #FFFFFF;
    margin: 5px;
}

