<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Game Information</h3>
                </div>
                <div class="panel-body">
                    
                    <div class="gameInfo clear">
                         Name
                    </div>
                    <div class="gameInfo">
                        {{GameCommentsWithUser?.Game?.Name}}
                    </div>

                    <div class="gameInfo clear">
                         Over All Rate
                    </div>
                    <div class="gameInfo">
                        {{GameCommentsWithUser?.Game?.OverAllRate}}
                    </div>
                      <div class="gameInfo">
                        Total Number Of Votes
                    </div>
                    <div class="gameInfo">
                        {{GameCommentsWithUser?.Game?.NumberOfVotes}}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>