<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Game Information</h3>
                </div>
                <div class="panel-body">

                    <div class="gameInfo clear">
                        Name
                    </div>
                    <div class="gameInfo">
                        {{Game?.Name}}
                    </div>

                    <div class="gameInfo clear">
                        Over All Rate
                    </div>
                    <div class="gameInfo">
                        {{Game?.OverAllRate}}
                    </div>
                    <div class="gameInfo">
                        Total Number Of Votes
                    </div>
                    <div class="gameInfo">
                        {{Game?.NumberOfVotes}}
                    </div>
                    <div class="clear">
                        <div class="comment-buttom">
                            <button type="button" class="button" (click)="ShowHideComments()">{{AllowShowComments? 'Hide' : 'Show' }} Comments</button>
                        </div>
                    </div>
                    <div class="clear" *ngIf="AllowShowComments">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default head">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Comments</h3>
                                        </div>
                                        <div class="panel-body">
                                            <comment-list [CommentsWithUser]='UsersCommentsWithRate' ></comment-list>
                                            <div *ngIf="ShowAddComment">
                                                <comment (onComment)='AddComment($event)'> </comment>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear col-md-5 col-md-offset-4" *ngIf="AllowShowRate">
                        <rate [rate]='0' (rateClick)='onRatingClicked($event)'></rate>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>