<div *ngIf="!ShowLoadImage">
    <div *ngIf="!NoGameAvailable">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="col-md-4  form-group">
                        <label for="SortBy">Sort By:</label>
                        <select class="form-control" [(ngModel)]="SortBy" id="SortBy">
                     <option [value]="AlphabeticSortParameter">Alphabetic</option>
                     <option [value]="RateSortParameter">Rate</option>
                </select>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="SortDir">Sort Direction:</label>
                        <select class="form-control" [(ngModel)]="SortDir" id="SortDir">
                     <option  [value]= "AscendingSortDirection">Ascending</option>
                     <option  [value]="DescendingSortDirection">Descending</option>
                </select>
                    </div>
                    <div class="col-md-3 sort-button">
                        <button type="button" class="button" (click)="Sort()">Sort</button>
                    </div>
                </div>
            </div>
        </div>

        <game *ngFor="let item of FilteredGamesCommentsWithUser?.GamesCommentsWithUser" [GameCommentsWithUser]='item'>
        </game>

        <div class="col-md-8 col-md-offset-4">
            <ng-pagination [totalItems]="TotalItems" [currentPage]="CurrentPage" [pageSize]="PageSize" (pageChange)="onPageChange($event)"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="First" last-text="Last">
            </ng-pagination>
        </div>
    </div>
    <div *ngIf="NoGameAvailable">
        <div class="noGameAvailableInfo  col-md-4 col-md-offset-3">
            No Games Available
        </div>
    </div>
</div>
<div *ngIf="ShowLoadImage" class="reload-img">
    <img src="../images/reload.gif" alt="Loading...">
</div>